- set_meta_tags(description: "Create Account", title: "Create Account | RiverBoss")

%section#content
  .content-holder
    %h1 Create Account
  .gen-pad
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      %h4.less-margin New Users
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true
        = f.input :password_confirmation, required: true
        = recaptcha_tags({display: {theme: 'clean'}, ajax: true})
        - if params[:redirect_to].present?
          = text_field_tag :redirect_to, params[:redirect_to], type: :hidden
      .form-actions
        = f.button :submit, "Sign up"

    %h4.social-links
      Register or login with
      %br/
      - resource_class.omniauth_providers.each do |provider|
        = link_to omniauth_authorize_path(resource_name, provider) do
          = image_tag "mobile/#{provider.to_s}_m.png", width: 50

    %h4
      Already have an account?
      = link_to "Login", new_session_path(resource_name)
