%nav
  %ul.menu
    = smart_link_to "My Rivers", rivers_path
    = smart_link_to "Near Me", near_by_rivers_path
    = smart_link_to "Regions", regions_path
    = smart_link_to "States", states_path
    = smart_link_to "Popular", popular_rivers_path
    = smart_link_to "User Guide", "/pages/user-guide"
    = smart_link_to "Contact", contact_path
    = smart_link_to "Mobile View", mobile_view_path
